.primary-bg-color{
    background-color: #754ffe; 
 }
 
 .primary-color{
     color: #754ffe; 
 }

.nav-footer .nav-link{  
    color:  #413c5e;
}

.footer{
    background-color: #f5f4f8;
}
.nav-footer  .nav-link:hover{
    color:  #754ffe; 
}